/*            */
/* QUICK VIEW */
/*            */
.quick-view-enter {
  opacity: 0 !important;
  transform: translate(-50%, -45%) !important;
}
.quick-view-enter-active {
  opacity: 1 !important;
  transform: translate(-50%, -50%) !important;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.quick-view-exit {
  opacity: 1 !important;
  transform: translate(-50%, -50%) !important;
}
.quick-view-exit-active {
  opacity: 0 !important;
  transform: translate(-50%, -45%) !important;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

/*               */
/* CAROUSEL INFO */
/*               */
.carousel-info-enter {
  opacity: 0;
}
.carousel-info-enter-active {
  opacity: 1;
}
.carousel-info-exit {
  opacity: 1;
}
.carousel-info-exit-active {
  opacity: 0;
}
.carousel-info-enter-active,
.carousel-info-exit-active {
  transition: opacity 1500ms cubic-bezier(0.61, 1, 0.88, 1);
}


/*                 */
/* CAROUSEL IMAGES */
/*                 */

.carousel-enter {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
}
.carousel-enter-active {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(0);
}
.carousel-exit {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(0);
}
.carousel-exit-active {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
}
.carousel-enter-active,
.carousel-exit-active {
  transition: transform 3000ms cubic-bezier(0.25, 1, 0.5, 1);
  /* transition: transform 1500ms cubic-bezier(0.32, 0.31, 0.42, 0.99); */
}



/*               */
/*  Top Sellers  */
/*               */

.top-sellers-autocomplete-enter,
.top-sellers-autocomplete-appear {
  opacity: 0;
  transform: translateY(-20%);
}
.top-sellers-autocomplete-enter-active,
.top-sellers-autocomplete-appear-active {
  opacity: 1;
  transform: translateY(0);
}
.top-sellers-autocomplete-exit {
  opacity: 1;
  transform: translateY(0);
}
.top-sellers-autocomplete-exit-active {
  opacity: 0;
  transform: translateY(-20%);
}
.top-sellers-autocomplete-enter-active,
.top-sellers-autocomplete-exit-active {
  transition: transform 350ms cubic-bezier(0.16, 1, 0.3, 1), opacity 350ms cubic-bezier(0.16, 1, 0.3, 1);
}