@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');

.art-navigation__wrapper {
    font-family: 'Sorts Mill Goudy', serif;
    letter-spacing: .05rem;
    font-size: .7rem;
    user-select: none;
    width: 250px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    /* SUB GRID */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 185px 1fr 1fr;
}

.art-navigation__wrapper--filters {
    max-width: 300px;
    position: sticky;
    top: 0px;
}
.art-navigation__header--TYPE {
    
}
.art-navigation__wrapper h3 {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1rem;
    font-weight: 400;
}
.art-navigation__wrapper input{
    margin-right: 3px;
}

.art-navigation__wrapper h3:hover,
.art-navigation__wrapper input[type="checkbox"]:hover,
.art-navigation__wrapper label:hover,
.art-navigation__wrapper li:hover {
    cursor: pointer;
}

.art-navigation__list--type,
.art-navigation__list--categories,
.art-navigation__list--sort-by {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.art-navigation__list--type li,
.art-navigation__list--categories li,
.art-navigation__list--sort-by li {
    margin-right: 10px;
    position: relative;
}
.art-navigation__wrapper label {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 20px;
}

.art-navigation__wrapper input[type="checkbox"] {
    /* hide default checkbox */
    display: none;
}
.art-navigation__wrapper input[type="checkbox"]:checked ~ .customCheckbox {
    /* set bg color of checkbox when checked = true */
    background-color: #ab8a58;
}

.art-navigation__wrapper input[type="checkbox"]:checked ~ .customCheckbox::after {
    /* set display state of checkmark when checked = true */
    display: block;
}

.customCheckbox {
    /* checkbox styling */
    width: 12px;
    height: 12px;
    position: absolute;
    top: 7px;
    left: -15px;
    border: solid 1px #ab8a58;
    border-radius: 2px;
}